.content {
    position: absolute;
    width: 1160px;
    left: 280px;
    top: 64px;
    bottom: 0px;
}

.content_login {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin-top: 24px;
    margin-left: 24px;
}

.login_windov {
    margin-left: 213px;
    margin-top: 24px;
    margin-right: 213px;
    margin-bottom: 40px;
    width: 734px;
    height: 800px;
    background-color: #262836;
    border: 1px solid #3A3C51;

}

.login_windov:hover {
    border-color: #9E26FF
}


.photo h4 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-left: 64px;
    margin-top: 40px;

}

.user_photo {
    display: flex;
    flex-direction: row;
    
}

.user_photo button {
    position: absolute;
    width: 135px;
    height: 48px;
    left: 256px;
    top: 181px;
    background: #9E26FF;
    border-radius: 8px;
}