.email h2 {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: 64px;
    margin-top: 40px;
}

.email h3 {
    color: #3A3C51;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin-left: 534px;
    margin-top: 340px;
}