* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    display: block;
    position: relative;
    /* min-width: 1440px; */
    margin-left: auto;
    margin-left: auto;
    min-height: 100vh;
    background: #2D2D2D;
    overflow: hidden;
}
.root{
    width: 1440px; ;
    height: calc(100vh-64px);
}
@media screen and (max-width: 1500px) {
    .root {
        width: 900px;
    }
}

.root svg {
    position:sticky;
    left: 44.42%;
    margin-top: 70px;
   
}